.body {
    color: #FFF;
    font-family: "Inter", Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
     -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
     text-rendering: optimizeLegibility;
}

.page {
    margin: 0;
    padding: 0;
    background-color: #2A2C2F;
    width: 100%;
}

.header {
    margin: 0;
    max-width: 1184px;
    max-height: 52px;
    display: flex;
    justify-content: space-between;
    padding-top: 28px;
    padding-left: 48px;
    padding-right: 48px;
}

.header__logo {
    max-width: 176px;
    max-height: 52px;
}

.header__lang-links {
    margin: 0;
    display: flex;
    align-self: flex-end;
    list-style-type: none;
    column-gap: 18px;
    padding: 0;
}

.header__lang-link {
    text-decoration: none;
    color: #FFF;
    font-size: 24px;
    line-height: 28px;
    font-family: Inter;
    font-weight: 400;
    font-style: normal;
    transition: 0.5s linear;
    opacity: 1;
}

.header__lang-link:hover {
    opacity: 0.5;
}

.header__lang-link_active {
    text-decoration: underline;
}

.lead {
    margin: 0;
    max-width: 984px;
    max-height: 1005px;
    margin-top: 56px;
    margin-right: auto;
    margin-left: auto;
}

.lead__title {
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    max-width: 720px;
    font-size: 96px;
    font-family: Inter;
    font-weight: 900;
    font-style: normal;
    line-height: 100px;
    color: #FFF;
    text-align: center;
}

.lead__subtitle {
    margin: 0;
    margin-right: auto;
    margin-left: auto;
    max-width: 640px;
    color: #FFF;
    text-align: center;
    font-size: 30px;
    font-family: Inter;
    line-height: 36px;
    font-weight: 400;
    font-style: normal;
    margin-top: 32px;
}

.lead__image {
    margin: 0;
    max-width: 984px;
    width: 100%;
    margin-top: 64px;
}

.lead__caption {
    margin: 0;
    margin-top: 8px;
    color: #FFF;
    font-size: 10px;
    font-family: Inter;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    text-align: left;
}

.intro {
    margin: 0;
    margin-top: 92px;
    margin-left: 148px;
    max-width: 690px;
    max-height: 429px;
}

.intro__title {
    margin: 0;
    color: #FFF;
    font-size: 54px;
    font-family: Inter;
    font-weight: 900;
    line-height: 58px;
    font-style: normal;
}

.intro__text {
    margin: 0;
    color: #FFF;
    font-style: normal;
    font-size: 16px;
    font-family: Inter;
    line-height: 163%;
    font-weight: 400;
    margin-top: 40px;
}

.intro__list {
    margin: 0;
    margin-top: 33px;
    list-style-type: none;
    padding: 0;
}

.intro__list-text {
    margin: 0;
    color: #FFF;
    font-size: 12px;
    font-family: Inter;
    font-weight: 700;
    line-height: 18px;
    font-style: normal;
}

.photo-grid {
    margin: 0;
    margin-top: 92px;
    margin-left: 48px;
    margin-right: 48px;
    display: grid;
    max-width: 1184px;
    max-height: 671px;
    grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
    gap: 16px;
}

.photo-grid__item {
    width: 100%;
    object-fit: cover;
}

.places {
    margin: 0;
    margin-top: 92px;
    max-width: 984px;
    max-height: 3392px;
    margin-left: auto;
    margin-right: auto;
}

.place {
    display: grid;
  grid-template-columns: repeat(auto-fit, minmax(484px 1fr));
  gap: 48px 40px;
  margin-bottom: 80px;
}

.place:last-child {
    margin-bottom: 0;
}


.place__title {
    margin: 0;
    max-width: 460px;
    color: #FFF;
    font-size: 72px;
    font-family: Inter;
    font-weight: 900;
    line-height: 76px;
    font-style: normal;
}

.place__image {
    max-width: 460px;
    width: 100%;
    grid-column: 1;
    grid-row: 2;
  }

  .place__website {
    grid-row: 1;
    grid-column: 2;
    align-self: end;
  }

  .place__url-heading {
    margin: 0;
    margin-bottom: 12px;
    color: #AAA;
    font-size: 12px;
    font-family: Inter;
    line-height: 170%;
    letter-spacing: 2px;
    font-weight: 400;
    font-style: normal;
  }

  .place__link {
    margin: 0;
    color: #FFF;
    font-size: 18px;
    font-family: Inter;
    line-height: 22px;
    text-decoration: underline;
    font-weight: 400;
    font-style: normal;
    transition: opacity 0.5s linear;
  opacity: 1;
  }

  .place__link:hover {
    opacity: 0.5;
  }

  .place__paragraphs {
    margin: 0;
    display: flex;
    flex-direction: column;
  }

  .place__paragraph {
    margin: 0;
    color: #FFF;
    font-size: 18px;
    font-family: Inter;
    line-height: 163%;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 26px;
  }
  
  .place__paragraph:last-child {
    margin-bottom: 0;
  }

  .cover {
    margin: 0;
    max-width: 1184px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 92px;
    width: 100%;
  }

  .cover__title {
    margin: 0;
    max-width: 560px;
    color: #FFF;
    font-size: 72px;
    font-family: Inter;
    font-weight: 900;
    line-height: 76px;
    font-style: normal;
    text-align: center;
  }

  .cover__subtitle {
    margin: 0;
    max-width: 360px;
    margin-top: 32px;
    margin-left: auto;
    margin-right: auto;
    color: #FFF;
    font-size: 18px;
    font-family: Inter;
    line-height: 22px;
    font-weight: 400;
    font-style: normal;
    text-align: center;
  }

  .cover__overlay{
    text-decoration: none;
    transition: all 0.5s ease-in-out;
    max-width: 1184px;
    width: 100%;
    min-height: 740px;
    background-image: linear-gradient(rgba(42, 44, 47, 0.3), rgba(42, 44, 47, 0.3)), url(./images/cover-trains.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .cover__overlay:hover {
    background-image: linear-gradient(rgba(42, 44, 47, 0.7), rgba(42, 44, 47, 0.7)), url(./images/cover-trains.jpg);
  }

  .footer {
    margin: 0;
    margin-top: 92px;
    padding-bottom: 24px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1184px;
    max-height: 18px;
    display: flex;
    justify-content: space-between;
  }

  .footer__links {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    gap: 18px;
  }

  .footer__link {
    margin: 0;
    font-size: 16px;
    color: #FFF;
    font-family: Inter;
    line-height: 18px;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    opacity: 1;
  }

  .footer__link:hover {
    opacity: 0.5;
  }

  .footer__copyright {
    margin: 0;
    align-self: center;
    color: #FFF;
    font-size: 14px;
    font-family: Inter;
    line-height: 16px;
    font-weight: 400;
    font-style: normal;
  }


