.footer__link {
    margin: 0;
    font-size: 16px;
    color: #FFF;
    font-family: Inter;
    line-height: 18px;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    opacity: 1;
  }

  .footer__link:hover {
    opacity: 0.5;
  }