.cover__overlay{
    text-decoration: none;
    transition: all 0.5s ease-in-out;
    min-width: 1184px;
    min-height: 740px;
    width: 100%;
    background-image: linear-gradient(rgba(42, 44, 47, 0.3), rgba(42, 44, 47, 0.3)), url(../../../images/cover-trains.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    object-fit:cover;
  }

  .cover__overlay:hover {
    background-image: linear-gradient(rgba(42, 44, 47, 0.7), rgba(42, 44, 47, 0.7)), url(../../../images/cover-trains.jpg);
  }

  @media screen and (max-width: 1279px) {
    .cover__overlay {
      min-width: 1024px;
      min-height: 640px;
    }
  }

  @media screen and (max-width: 1023px) {
    .cover__overlay {
      min-width: 768px;
      min-height: 480px;
    }
  }

  @media screen and (max-width: 767px) {
    .cover__overlay {
      min-width: 320px;
      min-height: 200px;
    }
  }